<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.managementsystem.mapper.DepartmentMapper">
    <!-- private Integer id;
  private String departmentId;
  private String departmentName;
  private String departmentDirectorName;-->
    <select id="select" parameterType="Integer" resultType="com.hospital.managementsystem.domin.po.DepartmentPo">
        SELECT * FROM department WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.hospital.managementsystem.domin.po.DepartmentPo">
    insert into department (departmentId,departmentName,departmentDirectorName)
        values (#{departmentId},#{departmentName},#{departmentDirectorName})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
    delete from department where id = #{id}
    </delete>

    <update id="update" parameterType="com.hospital.managementsystem.domin.po.DepartmentPo">
    update department set departmentName=#{departmentName},departmentDirectorName=#{departmentDirectorName} where id = #{id}
    </update>


    <select id="list" resultType="com.hospital.managementsystem.domin.po.DepartmentPo">
        select * from department
    </select>
    <delete id="deleteList" parameterType="java.util.List">
        delete from department where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectByName" parameterType="java.lang.String" resultType="com.hospital.managementsystem.domin.po.DepartmentPo">
        select *from department where departmentName=#{departmentName}
    </select>
</mapper>