<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.managementsystem.mapper.DoctorMapper">
    <!--     private String numberId;
  private String name;
  private String sex;
  private String age;
  private String tel;
  private String homeAddress;
  private String department;
  private String position;-->
    <select id="getDoctorByNumberId" parameterType="String" resultType="com.hospital.managementsystem.domin.po.DoctorPo">
        SELECT * FROM doctor where numberId=#{numberId}
    </select>

    <select id="select" parameterType="Integer" resultType="com.hospital.managementsystem.domin.po.DoctorPo">
        SELECT * FROM doctor WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.hospital.managementsystem.domin.po.DoctorPo">
    insert into doctor (name,numberId,sex,age,tel,homeAddress,departmentId,department,position)
        values (#{name},#{numberId},#{sex},#{age},#{tel},#{homeAddress},#{departmentId},#{department},#{position})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
    delete from doctor where id = #{id}
    </delete>

    <update id="update" parameterType="com.hospital.managementsystem.domin.po.DoctorPo">
    update doctor set name=#{name},sex=#{sex},age=#{age},tel=#{tel},homeAddress=#{homeAddress},departmentId=#{departmentId},department=#{department},position=#{position} where id = #{id}
    </update>
    <select id="listById" parameterType="String" resultType="com.hospital.managementsystem.domin.po.DoctorPo">
        SELECT * FROM doctor WHERE departmentId=#{departmentId}
    </select>

    <select id="list" resultType="com.hospital.managementsystem.domin.po.DoctorPo">
        select * from doctor
    </select>
    <delete id="deleteList" parameterType="java.util.List">
        delete from doctor where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getDoctorByNameAndDep" parameterType="java.lang.String" resultType="com.hospital.managementsystem.domin.po.DoctorPo">
        select * from doctor where name=#{name} AND department=#{department}
    </select>

</mapper>